<a href="https://colab.research.google.com/github/soyudea/StrokePredictionModel/blob/main/02_Preprocesado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Librerías**

In [70]:
import pandas as pd
import numpy as np
import math

**Carga del datase**t https://www.kaggle.com/competitions/playground-series-s3e2/data?select=train.csv

**1. Lectura y concatenación de los Dataset**

In [71]:
#Se carga dataset obtenido de Kaggle de competencia “Playground Series - Season 3, Episode 2” 
#disponible en el siguiente enlace: https://www.kaggle.com/competitions/playground-series-s3e2/ 

datos = pd.read_csv('train.csv', sep=",") #pendiente lo del test.csv
df =datos.copy()
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,Male,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked,0
1,1,Male,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked,0
2,2,Female,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown,0
3,3,Male,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked,0
4,4,Female,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked,0
...,...,...,...,...,...,...,...,...,...,...,...,...
15299,15299,Female,22.0,0,0,No,Govt_job,Urban,72.63,19.5,never smoked,0
15300,15300,Female,46.0,1,0,Yes,Private,Urban,101.19,32.1,never smoked,0
15301,15301,Female,75.0,0,0,Yes,Self-employed,Urban,87.69,26.2,never smoked,0
15302,15302,Male,46.0,0,0,Yes,Private,Rural,101.13,22.5,Unknown,0
15303,15303,Female,14.0,0,0,No,Private,Rural,85.12,24.7,never smoked,0

**2. Se agregan valores nulos al 5 % de las muestras en los campos age, avg_glucose_level**

In [72]:
lista=[]
porc_nulos =int(np.shape(df)[0]*5/100)   #Calculo de porcentaje de datos nulos
rango_df = np.shape(df)[0]

for i in range(porc_nulos):
    num_aleatprio = np.random.randint(rango_df) 
    lista.append(num_aleatprio)

for i in lista:
    df.at[i, "age"] = np.nan

lista=[]
rango_df = np.shape(df)[0]

for i in range(porc_nulos):
    num_aleatprio = np.random.randint(rango_df) 
    lista.append(num_aleatprio)

for i in lista:
    df.at[i, "avg_glucose_level"] = np.nan

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 15304 non-null  int64
 1   gender             15304 non-null  object
 2   age                14564 non-null  float64
 3   hypertension       15304 non-null  int64
 4   heart_disease      15304 non-null  int64
 5   ever_married       15304 non-null  object
 6   work_type          15304 non-null  object
 7   Residence_type     15304 non-null  object
 8   avg_glucose_level  14553 non-null  float64
 9   bmi                15304 non-null  float64
 10  smoking_status     15304 non-null  object
 11  stroke             15304 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 1.4+ MB

**2.1 Se verifican presencia de valores nules para gestionar**

In [74]:
df.isna().sum()

id                     0
gender                 0
age                  740
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level    751
bmi                    0
smoking_status         0
stroke                 0
dtype: int64

**3. Tratamiento de datos Nulos**

**3.1 Se agregan valores promedios a la caracterista edad**

In [75]:
mean_age = df['age'].mean().astype(int) #Calculo media de las edades

for i in range(len(df)):
    if math. isnan(df.at[i, "age"]):
       df.at[i, "age"] = mean_age

df['age'] = df['age'].astype('int64')

**3.2 Se agregan valores promedios a la caracterista avg_glucose_level**

In [76]:
mean_avg_glucose_level = df['avg_glucose_level'].mean().astype(int) #Calculo media de las glucosa

for i in range(len(df)):
    if math. isnan(df.at[i, "avg_glucose_level"]):
       df.at[i, "avg_glucose_level"] = mean_avg_glucose_level

**3.3 Estado final**

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 15304 non-null  int64
 1   gender             15304 non-null  object
 2   age                15304 non-null  int64
 3   hypertension       15304 non-null  int64
 4   heart_disease      15304 non-null  int64
 5   ever_married       15304 non-null  object
 6   work_type          15304 non-null  object
 7   Residence_type     15304 non-null  object
 8   avg_glucose_level  15304 non-null  float64
 9   bmi                15304 non-null  float64
 10  smoking_status     15304 non-null  object
 11  stroke             15304 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 1.4+ MB

In [78]:
df.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

**4. Discretización de las variables 'age', 'avge_glucose_level', 'bmi'**

In [79]:
df.shape

(15304, 12)

**4.1 Variable edad**

In [80]:
edades = pd.cut(df['age'], bins = [0,10,20,40,np.inf], labels =['niño','joven','adulto','mayor'], include_lowest=True, retbins = True)
df['new_age'] = list(edades[0])

**4.2 Variable nivel glucosa**

In [81]:
glucosa = pd.cut(df['avg_glucose_level'], bins = [0,100,125,np.inf], labels = ['normal', 'prediabetico','diabetico'], include_lowest=True, retbins=True)
df["avg_glucose"] = list(glucosa[0])

**4.3 Variable índice de masa corporal BMI**

In [82]:
im = pd.cut(df['bmi'], bins = [18.5,24.9,25,29.9,np.inf], labels = ['low_weight', 'Healthy_weight','overweight','obesity'], include_lowest=True, retbins=True)
df['bmi_range'] = list(im[0])

In [83]:
df.shape

(15304, 15)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 15304 non-null  int64
 1   gender             15304 non-null  object
 2   age                15304 non-null  int64
 3   hypertension       15304 non-null  int64
 4   heart_disease      15304 non-null  int64
 5   ever_married       15304 non-null  object
 6   work_type          15304 non-null  object
 7   Residence_type     15304 non-null  object
 8   avg_glucose_level  15304 non-null  float64
 9   bmi                15304 non-null  float64
 10  smoking_status     15304 non-null  object
 11  stroke             15304 non-null  int64
 12  new_age            15304 non-null  object
 13  avg_glucose        15304 non-null  object
 14  bmi_range          14335 non-null  object
dtypes: float64(2), int64(5), object(8)
memory usage: 1.8+ MB

**5. Transformación del dataset, de variables categoricas a númericas**

In [85]:
var_numericas = df.drop(["id","avg_glucose_level","age","bmi","new_age","avg_glucose","bmi_range","gender","ever_married","work_type","Residence_type","smoking_status", "bmi_range"],axis=1)
vcategoricas=df.filter(["new_age","avg_glucose","bmi_range","gender","ever_married","work_type","Residence_type","smoking_status", "bmi_range"]) 
cat_numericas=pd.get_dummies(vcategoricas,drop_first=False) 
df=pd.concat([cat_numericas,var_numericas],axis=1)

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 34 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   new_age_adulto                  15304 non-null  uint8
 1   new_age_joven                   15304 non-null  uint8
 2   new_age_mayor                   15304 non-null  uint8
 3   new_age_niño                    15304 non-null  uint8
 4   avg_glucose_diabetico           15304 non-null  uint8
 5   avg_glucose_normal              15304 non-null  uint8
 6   avg_glucose_prediabetico        15304 non-null  uint8
 7   bmi_range_Healthy_weight        15304 non-null  uint8
 8   bmi_range_low_weight            15304 non-null  uint8
 9   bmi_range_obesity               15304 non-null  uint8
 10  bmi_range_overweight            15304 non-null  uint8
 11  gender_Female                   15304 non-null  uint8
 12  gender_Male                     15304 non-null  uint8
 13  gender_Other                    15304 non-null  uint8
 14  ever_married_No                 15304 non-null  uint8
 15  ever_married_Yes                15304 non-null  uint8
 16  work_type_Govt_job              15304 non-null  uint8
 17  work_type_Never_worked          15304 non-null  uint8
 18  work_type_Private               15304 non-null  uint8
 19  work_type_Self-employed         15304 non-null  uint8
 20  work_type_children              15304 non-null  uint8
 21  Residence_type_Rural            15304 non-null  uint8
 22  Residence_type_Urban            15304 non-null  uint8
 23  smoking_status_Unknown          15304 non-null  uint8
 24  smoking_status_formerly smoked  15304 non-null  uint8
 25  smoking_status_never smoked     15304 non-null  uint8
 26  smoking_status_smokes           15304 non-null  uint8
 27  bmi_range_Healthy_weight        15304 non-null  uint8
 28  bmi_range_low_weight            15304 non-null  uint8
 29  bmi_range_obesity               15304 non-null  uint8
 30  bmi_range_overweight            15304 non-null  uint8
 31  hypertension                    15304 non-null  int64
 32  heart_disease                   15304 non-null  int64
 33  stroke                          15304 non-null  int64
dtypes: int64(3), uint8(31)
memory usage: 822.1 KB

In [87]:
df.shape

(15304, 34)

**6. Organización del dataset final**

In [88]:
X = df[:len(df)]
y = df['stroke']
X = X.drop(columns=['stroke'])
X.columns
X.shape
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 33 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   new_age_adulto                  15304 non-null  uint8
 1   new_age_joven                   15304 non-null  uint8
 2   new_age_mayor                   15304 non-null  uint8
 3   new_age_niño                    15304 non-null  uint8
 4   avg_glucose_diabetico           15304 non-null  uint8
 5   avg_glucose_normal              15304 non-null  uint8
 6   avg_glucose_prediabetico        15304 non-null  uint8
 7   bmi_range_Healthy_weight        15304 non-null  uint8
 8   bmi_range_low_weight            15304 non-null  uint8
 9   bmi_range_obesity               15304 non-null  uint8
 10  bmi_range_overweight            15304 non-null  uint8
 11  gender_Female                   15304 non-null  uint8
 12  gender_Male                     15304 non-null  uint8
 13  gender_Other                    15304 non-null  uint8
 14  ever_married_No                 15304 non-null  uint8
 15  ever_married_Yes                15304 non-null  uint8
 16  work_type_Govt_job              15304 non-null  uint8
 17  work_type_Never_worked          15304 non-null  uint8
 18  work_type_Private               15304 non-null  uint8
 19  work_type_Self-employed         15304 non-null  uint8
 20  work_type_children              15304 non-null  uint8
 21  Residence_type_Rural            15304 non-null  uint8
 22  Residence_type_Urban            15304 non-null  uint8
 23  smoking_status_Unknown          15304 non-null  uint8
 24  smoking_status_formerly smoked  15304 non-null  uint8
 25  smoking_status_never smoked     15304 non-null  uint8
 26  smoking_status_smokes           15304 non-null  uint8
 27  bmi_range_Healthy_weight        15304 non-null  uint8
 28  bmi_range_low_weight            15304 non-null  uint8
 29  bmi_range_obesity               15304 non-null  uint8
 30  bmi_range_overweight            15304 non-null  uint8
 31  hypertension                    15304 non-null  int64
 32  heart_disease                   15304 non-null  int64
dtypes: int64(2), uint8(31)
memory usage: 702.6 KB

In [89]:
y.shape

(15304,)

**7. Exportar Dataset Final**

In [90]:
X.to_csv('Dataset.csv')
y.to_csv('y.csv')